
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,#7ed56f,#28b485);
    -webkit-background-clip: text;
    color: transparent; 
    transition: all .2s;
    letter-spacing: 2px;    
    margin-bottom: 4rem;


    &:hover {
        transform: skewY(2deg) skewX(2deg);
        text-shadow: .5rem 1rem 2rem rgba(#444,.2);
    }

    // $color-primary-light: #7ed56f;
    // $color-primary-dark: #28b485;
    
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{ 
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 14px;
    }
}